.sub-title{
  text-decoration: underline;
}

button.btn.btn-default.btn-lg.btn-submit.mb-2.btn-secondary{
    background-color: #0AA7DB;
    border: none;
}

* {box-sizing: border-box;}


.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}


.icon {
  padding: 2px;
  background: lightgray;
  color: black;
  min-width: 50px;
  text-align: center;

}


.input-field {
  width: 100%;
  padding: 2px;
  outline: none;
  background-color: lightgray;
  border: none;
  
}

.input-field:focus {
  border: 2px solid #0AA7DB;
}

.sub-title{
  font-weight: bold;
}

.flex-containerone{
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-start;
  position: relative;
  top: 5px;
  left: 1rem;
}

p.admintext{
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 10px;
  left: 15px;
}

input.pin{
display: flex;
flex-wrap: nowrap;
justify-content: center;
width: 20%;
position: relative;
top: -35px;
left: 235px;
background-color: lightgray;
border: none;

}

.flex-containertwo{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.lines {
  width: 100% ;
  height: 45px;
  position: relative;
}

.lines::after, .lines::before{
  content: "";
  position: absolute;
  margin:auto;
  height: 2px;
  background: black;
  width: 45%;
  top:45%;
}

.lines::after{
  left: 0
}

.lines::before{
  right: 0
}

.twittericon{
  padding-left: 1rem;
  padding-right: 1rem;
}

.facebookicon{
  padding-left: 1rem;
  padding-right: 1rem;
}

.linkicon, .googleicon, .facebookicon, .twittericon  {
  font-size: 2rem;
  color:  #4285F4;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  top: 30px;
}

button.accountLink.btn.btn-secondary {
  position: relative;
  top: -4px;
  left: 10px;
  padding: 0px 0px;
  font-size: 16px;
  font-weight: bold;
  border:none;
  background-color: white;
  color: darkblue;

}